article {
    max-width: 420px;
    background-color: #efe6df;
    margin: 0 auto;
    font-family: 'RIDIBatang';
}



/* ========== header 시작 ========== */

header div {
    width: 200px;
    margin: 0 auto;
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div img {
    width: 30px;
    height: 30px;
}

header div figcaption {
    line-height: 33px;
}

header div p {
    font-size: 17px;
    line-height: 33px;
    color: #7a645a;
}

/* ========== header 끝 ========== */



/* ========== main 시작 ========== */

#main {
    margin-top: 10px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
}

#main figcaption {
    padding: 20px 0;
}

#main p {
    color: #443d3d;
    text-align: center;
    font-size: 17px;
}

/* ========== main 끝 ========== */



/* ========== intro 시작 ========== */

#intro {
    padding: 90px 20px 60px;
    /* position: relative; */
    background-image: url("../images/logo_wedding.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -20px;
    text-align: center;
}

#intro .wrap {
   padding-top: 50px;
}

#intro p {
    font-size: 12px;
    color: #443d3d;
    line-height: 20px;
    text-align: center;
}

#intro p:first-child {
    margin-top: -40px;
}

#intro img {
    margin: 30px 0 10px 0;
}

#intro .name_text {
    margin-bottom: 30px;
}

#intro .name_text span {
    padding-right: 5px;
    font-size: 13px;
    color: #968c8c;
}

#intro .name_text p {
    margin: 10px 0;
    font-size: 17px;
    color: #443d3d;
}

#intro .contact > span {
    color: #78645a;
    font-size: 13px;
    line-height: 35px;
    border: 1px solid #78645a;
    border-radius: 30px;
    display: inline-block;
    width: 150px;
    height: 35px;
    box-sizing: border-box;
}

#intro .contact > span:hover {
    background-color: #78645a;
}

#intro .contact > span a:hover {
    color: #fff;
    font-weight: lighter;
}

/* ========== intro 끝 ========== */



/* ========== way-to-come 시작 ========== */

#way-to-come {
    border-bottom: 1px solid #443d3d;
    font-weight: lighter;
    padding-bottom: 60px;
}

#way-to-come .map_wrap {
    overflow: hidden;
    height: 250px;
}

#way-to-come h2 {
    margin-bottom: 25px;
    color: #443d3d;
    text-align: center;
    font-weight: lighter;
}

#way-to-come .map_button button {
    width: 100%;
    /* margin: 10px auto; */
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #e0cece;
    border: none;
}

#way-to-come .map_button button a {
    color: #fff;
}

#way-to-come .map_text {
    padding: 20px;
    text-align: left;
}

#way-to-come .map_text .address {
    margin: 0 20px 40px 0;
    color: #443d3d;
}

#way-to-come .map_text .address li:last-child {
    padding-top: 5px;
    color: #827777;
}

#way-to-come .map_text .address li span {
    margin-right: 20px;
    color: #968c8c;
}

#way-to-come .map_text .public_tran {
    font-size: 14px;
}

#way-to-come .map_text .public_tran li a:first-child {
    width: 20%;
    color: #968c8c;
}

#way-to-come .map_text .public_tran li a:last-child {
    width: auto;
    color: #443d3d;
    padding-bottom: 15px;
    display: inline-flex;
}

#way-to-come .map_text .public_tran li:last-child a:last-child {
    padding-bottom: 0;
}

/* ========== way-to-come 끝 ========== */